
    <site-picker></site-picker>
    
    <mat-card>
      <mat-card-title>Enter ZipCode and Continue</mat-card-title>
      <span>does not work with pricing engine... needs firstname and lastname at least</span>

      <div class="example-container">
        <mat-form-field class="example-full-width"  >
          <input matInput placeholder="Zipcode" [(ngModel)]="zipcode">
        </mat-form-field>

        <mat-form-field class="example-full-width"  >
          <input matInput placeholder="Email Address" [(ngModel)]="email">
        </mat-form-field>
      </div>

      <mat-card-footer>
        <mat-list-item>
            <button mat-raised-button (click)="submit()">Submit</button>
        </mat-list-item>
      </mat-card-footer>
    </mat-card>